{% extends "base.html" %}
{% block content %}
<div class="m-5">
  <h1 class="text-center">Bienvenu</h1>
  <p class="text-center m-5">Lorem ipsum dolor sit amet consectetur adipisicing 
    elit. Dolor atque in sint excepturi quae tempora omnis fuga, dolorum, 
    laboriosam totam ipsam quia, a beatae quidem deserunt! Error, eos possimus?
    Illo.
  Odio, cupiditate, reprehenderit quas dolore consequatur ex nulla aut facilis 
  repudiandae perferendis debitis, labore itaque ipsam. Consectetur possimus 
  quia inventore? Illo odit quam molestiae officia? Laborum similique cum 
  quisquam ad.
  Velit reiciendis dignissimos expedita placeat neque dolor delectus, 
  modi quis quibusdam fugit, consequatur, blanditiis adipisci quae asperiores. 
  Nihil ipsum quas repellendus laborum at saepe placeat. Expedita voluptatem 
  totam quod neque.
  Quas ad dolores eos unde impedit illo enim at dolorem soluta possimus. Eos 
  iusto dolores adipisci a rerum vitae eum corporis totam doloremque! Consequuntur 
  </p>

  <div class="text-center">
  <a href="{% url 'login' %}" class="btn btn-primary">Demarrer</a>
    
</div>
{% endblock %}